Language: Cpp
BasedOnStyle: WebKit
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
BreakBeforeInheritanceComma: false
BreakConstructorInitializers: AfterColon
#ColumnLimit: 140
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentFunctionDeclarationAfterType: true
IndentPPDirectives: AfterHash
IndentWidth: 4
NamespaceIndentation: Inner
PointerAlignment: Left
PointerBindsToType: true
ReflowComments: true
SortIncludes: false
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
Standard: Cpp11
TabWidth: 4
UseTab: ForContinuationAndIndentation
