[submodule "extern/simpleopt"]
	path = extern/simpleopt
	url = https://github.com/brofield/simpleopt.git
[submodule "extern/recastnavigation"]
	path = extern/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "extern/opus"]
	path = extern/opus
	url = https://git.xiph.org/opus.git
[submodule "extern/catch"]
	path = extern/catch
	url = https://github.com/philsquared/Catch.git
[submodule "extern/cppformat"]
	path = extern/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "extern/nuklear"]
	path = extern/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "extern/eastl"]
	path = extern/eastl
	url = https://github.com/jvidziunas/EASTL.git
[submodule "extern/wren"]
	path = extern/wren
	url = https://github.com/munificent/wren.git
