[submodule "extern/simpleopt"]
	path = extern/simpleopt
	url = https://github.com/brofield/simpleopt.git
[submodule "extern/recastnavigation"]
	path = extern/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "extern/opus"]
	path = extern/opus
	url = https://git.xiph.org/opus.git
[submodule "extern/catch"]
	path = extern/catch
	url = https://github.com/philsquared/Catch.git
[submodule "extern/cppformat"]
	path = extern/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "extern/nuklear"]
	path = extern/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "extern/eastl"]
	path = extern/eastl
	url = https://github.com/jvidziunas/EASTL.git
[submodule "extern/wren"]
	path = extern/wren
	url = https://github.com/munificent/wren.git
[submodule "extern/microprofile"]
	path = extern/microprofile
	url = https://github.com/jonasmr/microprofile.git
[submodule "extern/crunch"]
	path = extern/crunch
	url = https://github.com/BinomialLLC/crunch.git
[submodule "extern/libmorton"]
	path = extern/libmorton
	url = https://github.com/Forceflow/libmorton.git
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/PhysX"]
	path = extern/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX-3.4.git
